    @import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

    body {
        text-align: center;
        background-color: #232121;
    }

    .header {
        padding: 10px;
        margin: 20px;
    }

    .header h1 {
        font-size: 50px;
        font-weight: bold;
        color: #EFECE3;
        font-family: 'Sekuya', sans-serif;
        letter-spacing: 5px;
    }


    .header p {
        font-size: 17px;
        color: #cdcdcd;
    }

    .container {
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .card {
        width: 300px;
    }

    img {
        border-radius: 8px;
    }

    .card_content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        top: -70px;
        background-color: #EFECE3;
        padding: 20px;
        width: 70%;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(120, 120, 120, 0.1);
    }

    .card_content p {
        font-size: 25px;
        color: #383838;
        font-weight: bold;
        margin: 0px;

    }

    div.intro {
        font-size: 14px;
        color: #383838;
        margin-top: -5px;
        font-weight: normal;
    }

    a {
        color: #4A70A9;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
    }

    .second_container {
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    @media screen and (max-width:1200px) {

        .container {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .second_container {
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
            gap: 20px;
        }

        .card {
            width: 80%;
        }
    }